opencv-python
moviepy==1.0.3
ffmpeg-python
openai-whisper

torch
torchaudio
torchvision

numpy
pandas

scenedetect
mediapipe
ultralytics

transformers
accelerate

librosa
soundfile

google-generativeai
openai

selenium
beautifulsoup4
webdriver-manager

python-dotenv

imageio
imageio-ffmpeg

tqdm

customtkinter

yt-dlp
openai-whisper
moviepy==1.0.3
ffmpeg-python
ultralytics

requests
